<div class="alert alert-success text-center" role="alert" style="margin-top: 60px;">
    Observala fijamente 5 segundos
</div>
<div class="row">
    <div class="card" class="col" style="width: 20rem;">
        <img class="img-thumbnail" src="../../../assets/images/b.jpg" alt="Card image cap">
        <div class="card-block">
            <div class="row justify-content-end">
                <button  class="btn btn-success" (click)="goSelection()" >Siguiente</button>
            </div>
            
        </div>
    </div>
</div>