<div class="alert alert-info text-center" role="alert" style="margin-top: 60px;">
    <div class="col">
        <div class="text-center" >
            <i class="fas fa-user fa-5x"></i>
            <div class="card-block">
                <p class="card-title">Bienvenido</p>
                <p class="card-text">1. Instrucción 1</p>
                <p class="card-text">2. Instrucción 2</p>
                
                <button  class="btn btn-success" (click)="goSelection()" style="margin-right:10px;">Siguiente</button>
            </div>
            </div>
    </div>
</div>