<div class="alert alert-success text-center" role="alert" style="margin-top: 60px;">
        Finalmente dime que piensas de la carrera
    </div>
    <div class="row text-center">
        <div class="card" class="col" style="width: 20rem;">
            <textarea name="description" id="" cols="40" rows="8"></textarea>
            <div class="card-block">
                <div class="row justify-content-end">
                    <button  class="btn btn-success" (click)="finish()">Terminar</button>
                </div>
                
            </div>
        </div>
    </div>