<div class="container p-1 mb-3 bg-secondary">
    <div class="row" style="margin-top: 150px;">
        <div class="col"></div>
        <div class="col">
            <form>
                <div class="form-group col">
                   <button class="btn btn-primary" (click)="goSelection()"> LOGIN  WITH FACEBOOK </button>
                </div>
                <div  class="row justify-content-center"> 
                    <strong> Or </strong>  
                </div> 
                <hr>
                <div class="form-group col">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group col">
                    <label for="exampleInputPassword2">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success" (click)="goSelection()">Entrar</button>
                </div>
            </form>
        </div>
        <div class="col" ></div>
    </div>
</div>