<div class="alert alert-success text-center" role="alert" style="margin-top: 60px;">
    Selecciona un rango
</div>
<div class="row">
    <div class="card" class="col" style="width: 80rem; margin-left: 50px;">
        <img class="img-thumbnail" src="../../../assets/images/e3.jpg" alt="Card image cap">
        <div class="card-block text-center">
            <p class="card-text">En la escala del 1 al 6 </p>
            <p class="card-text">Donde 1 es nada y 6 es mucho </p>
            <p class="card-text"> ¿Que tan interesante es? </p>
            <input  class="form-group" type="number" min="10" max="100" />
            <div class="row justify-content-end"  style="margin-top: 10px;">
                <button  class="btn btn-success" (click)="goSelection()" >Siguiente</button>
            </div>
            
        </div>
    </div>
</div>